.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-about div h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 1rem;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.section-about .about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 88%;
  align-items: center;
}
.section-about .about img {
  width: 30%;
  border-radius: 20px;
}
.section-about .about .content-about {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.section-about .about .content-about ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98%;
}
.section-about .about .content-about ul .left-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-about .about .content-about ul .rigth-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.li-about {
  display: flex;
  align-items: center;
}

.section-about .about .content-about p {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.strong-about {
  color: rgb(219, 219, 219);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.span-about {
  color: rgb(219, 219, 219);
  font-family: "Lato", sans-serif;
  margin-left: 4px;
}
.paragrafo-about {
  color: rgb(219, 219, 219);
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
