.section-skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.section-skills h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 1rem;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}
.section-skills .skills {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  width: 100%;
}

.section-skills .skills .icon-and-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}
.section-skills .skills .icon-and-p .icon-skill {
  font-size: 60px;
  color: #0d6dfd;
}
.section-skills .skills .icon-and-p .react {
  color: #0d6dfd;
}
.section-skills .skills .icon-and-p .node {
  color: black;
}
.section-skills .skills .icon-and-p .php {
  color: black;
  background-color: #4f5b93;
  padding: 0px 7.5px 0px 7.5px; /* Ajuste o padding para dar um formato oval */
  border-radius: 100%;
}
.section-skills .skills .icon-and-p .js {
  color: #f7df1e;
}
.section-skills .skills .icon-and-p .html {
  color: #e44d26;
}
.section-skills .skills .icon-and-p .css {
  color: #1572b6;
}

.section-skills .skills .icon-and-p:hover {
  transition: transform 0.5s ease;
  transform: scale(1.2);
}
.section-skills .skills .icon-and-p .p {
  color: rgb(219, 219, 219);
  font-family: "Lato", sans-serif;
}
