.aboutall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.aboutall .section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.aboutall .section-contact h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.section-contact .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.section-contact .contact .form-contact {
  width: 50%;
}
.section-contact .contact .form-contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.section-contact .contact .form-contact form .btn {
  outline: none;
  background: #021531;
  border: 0.5px solid #0d6dfd8f;
  padding: 7px;
  width: 50%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.section-contact .contact .form-contact form .btn:hover {
  background-color: #042557;
}
.section-contact .contact .form-contact form .disabled {
  outline: none;
  background: #0d6dfd2f;
  border: 0.5px solid #0d6dfd34;
  padding: 7px;
  width: 50%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.section-contact .contact .form-contact form .disabled:hover {
  outline: none;
  background: #0d6dfd2f;
  border: 0.5px solid #0d6dfd34;
  padding: 7px;
  width: 50%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: no-drop;
}

.section-contact .contact .form-contact form .twoitens {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.section-contact .contact .form-contact form .twoitens div {
  width: 47%;
}
.section-contact .contact .form-contact form .twoitens div input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 0.5px solid #0d6dfd8f;
  outline: none;
  color: white;
  background: none;
  background: none;
}
.section-contact .contact .form-contact form .div-motivo {
  width: 100%;
}
.section-contact .contact .form-contact form .div-motivo input {
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #0d6dfd8f;
  outline: none;
  color: white;
  background: none;
  width: 100%;
}
.section-contact .contact .form-contact form .div-descricao {
  width: 100%;
}
.section-contact .contact .form-contact form .div-descricao textarea {
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #0d6dfd8f;
  outline: none;
  color: white;
  background: none;
  width: 100%;
  resize: vertical;
}

.section-contact .contact .info {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: start;
}
.section-contact .contact .info .info-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* justify-content: end; */
  align-items: center;
}
.section-contact .contact .info .info-content .content {
  color: white;
}
.section-contact .contact .info .info-content .div-icon-contact {
  padding: 10px;
  background-color: #0d6dfd1f;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d6dfd;
}
.section-contact .contact .info .info-content .div-icon-contact:hover {
  background-color: #0d6dfd;

  color: white;
}
.section-contact .contact .form-contact form .twoitens div .error {
  border: 0.5px solid rgba(255, 0, 0, 0.445);
}
.section-contact .contact .form-contact form .div-descricao .error {
  border: 0.5px solid rgba(255, 0, 0, 0.445);
}
.section-contact .contact .form-contact form .div-motivo .error {
  border: 0.5px solid rgba(255, 0, 0, 0.445);
}

.p-error {
  font-size: 11px;
  color: rgba(255, 0, 0, 0.534);
}
