.div-carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.div-carousel div h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgba(69, 80, 91);
}
.cards-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.cards-carousel > * {
  flex: 0 0 100%; /* Cada item ocupará 100% da largura do carrossel */
}

.cards-carousel::-webkit-scrollbar {
  display: none;
}
.cards-carousel .div-content-card-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.buttons button {
  background-color: transparent;
  margin: none;
  border: none;
  cursor: pointer;
  color: #0d6efd;
}
.buttons button:hover {
  opacity: 0.8;
}
