.div-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5rem;
  padding: 0 1rem;
  width: 100%;
}

.header-carousel {
  text-align: center;
}

.header-carousel h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #454a5b;
}

.cards-carousel {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  width: 100%;
  max-width: 1200px;
}

.cards-carousel::-webkit-scrollbar {
  display: none;
}

.cards-carousel > * {
  flex: 0 0 300px; /* Define largura dos cards */
  height: 400px; /* Altura dos cards */
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-carousel > *:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-nav:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .cards-carousel > * {
    flex: 0 0 80%;
  }

  .btn-nav {
    width: 40px;
    height: 40px;
  }

  .header-carousel h2 {
    font-size: 1.5rem;
  }
}
