.body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: black;
}
.body .section-content-all {
  background-color: #272829;
}
.body .div-button-up {
  outline: none;
  position: fixed;
  z-index: 99998;
  bottom: 0;
  right: 0;
}
.body .div-button-up .button-up {
  outline: none;
  text-decoration: none;
  background-color: #000000;
  color: #0d6dfd;
  box-shadow: 0 6px 12px #0d6dfd;
  border: none;
  border-radius: 100%;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
.body .div-button-up .button-up:hover {
  background: #080808;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /* Ativa a rolagem suave */
}
.fade-in {
  opacity: 0;
  transform: translateY(50px); /* Efeito de deslizamento de baixo para cima */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(
    0
  ); /* Reverte a transformação, fazendo com que o item fique no lugar */
}
